// Style for the quantity of achievements
p(style="font-size: 18px; color: #333; font-family: 'Arial', sans-serif; margin-bottom: 10px;") Qty of achievements:
    b= qty

br

//- // List of achievements
//- ul(style="list-style-type: none; padding-left: 0;")
//-     each a in achievements
//-         li(style="margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom: 10px; font-family: 'Arial', sans-serif;")
//-             span(style="font-weight: bold; font-family: 'Arial', sans-serif;") #{a.title}
//-             //- a(href=`/achievements/${a._id}`, style="text-decoration: none; color: #007bff; margin-left: 10px; font-family: 'Arial', sans-serif;") Go to details

br

// Add new achievement link
a(href="/achievements/new", style="text-decoration: none; color: #007bff; font-family: 'Arial', sans-serif;") Add new achievement
br

// Separator
hr(style="margin: 20px 0;")

// Home page link
a(href="/", style="text-decoration: none; color: #007bff; font-family: 'Arial', sans-serif;") Home page
