div second file

h1 Form Submission

form(action="/post", method="post")
    p
        label(for="name") Username:
        input(type="text", id="name", name="name", required)

    p
        label(for="age") Age:
        input(type="text", id="age", name="age", required)

    input(type="submit", value="Submit")