doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cookie Example
    style.
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin-bottom: 10px;
      }
  body
    h1 Welcome to Cookie page
    if cookies
      h2 All Cookies
      ul
        each cookie in cookies
            li
            a(href=`/cookies/get/${cookie.name}`)= cookie.name
    h2 Set Cookie
    a(href="/cookies/set/form") Set New Cookie
